.content{
    display: flex;
    flex-direction: column;
}

.avatar-user{
    display: none;
}



@media screen and (min-width: 1000px) {
    .content {
        flex-direction: row;
        max-width: 935px;
        margin: 120px auto 0;
        justify-content: space-between;
    }

    .avatar-user{
        display: block;
        display: flex;
    }
    .avatar-user img{
        width: 4rem;
        height: 4rem;
        border-radius: 50%;
    }
    .avatar-user p{
        line-height: 5px;
        margin-left: 10px;
        color: gray;
        font-size: 0.8rem;
    }
    .avatar-user p b{
        color: black;
        font-size: 1rem;
    }
    


    .news-right{
        order: 1;
        width: 293px;
    }
    .news-right .stories {
        flex-direction: column;
        padding: 10px 20px;
        width: 100%;
        box-sizing: border-box;
        margin-top: 10px;
    }
    .story {
        flex-direction: row;
        margin-bottom: 8px;
    }
    .story img{
        width: 2.5rem;
        height: 2.5rem;
    }
    .story p{
        margin-left: 10px;
    }


}




.news {
    max-width: 600px;
    margin: 0 auto 15px;
}

.news-top{
    display: flex;
    justify-content: space-between;
    padding: 8px 15px;
    align-items: center;
}

.info-user{
    display: flex;
}

.info-user p{
    margin: 0px 12px;
    padding-top: 9px;
    font-family: arial,sans-serif;
    font-size: 0.9rem;
    font-weight: 600;
}

.info-user img{
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
    padding: 2.5px;
    background: linear-gradient(to right, rgb(193,53,132), rgb(252,175,69));
}

.news-img img{
    width: 100%;
    height: auto;
}

@media screen and (min-width: 600px) {
    .news {
        border: 1px solid rgb(230, 229, 229);
        border-radius: 3px;
    }
}


.news-bottom {
    padding: 10px 15px;
}

.active {
    display: flex;
    justify-content: space-between;
}

.news-bottom i{
    font-size: 1.7rem;
}

.active i {
    margin-right: 9px;
}

.like p {
    font-weight: 600;
    font-size: 0.8rem;
}

.comment p{
    font-size: 0.9rem;
    line-height: 7px;
}

.time {
    font-size: .8rem;
    color: gray;
    margin-bottom: 0;
}

.input-comment {
    padding: 15px;
    border-top: 1px solid rgb(233, 233, 233);
    display: none;
}
.input-comment .form-control {
    border: none;
    background: none;
    width: 100%;
    outline: none;
    font-size: 0.9rem;
}

@media screen and (min-width: 730px) {
    .input-comment {
        display: block;
    }
}



